# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# FAISS / temp
*.index
*.npy